---
import { DISTRITOS } from '../../consts';

export async function getStaticPaths() {
 
  return DISTRITOS.map(({ slug, name }) => {
     return {
      params: { slug },
      props: { name },
    };
  });
}

const { name } = Astro.props;
---
<html>
  <head>
    <title>{name}</title>
  </head>
  <body>
    <h1>{name}</h1>
   </body>
</html>